<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBk8shf9YgGJvxBA9IawCHitKp-dAX5BRc</string>
	<key>GCM_SENDER_ID</key>
	<string>277231424099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urbanculture</string>
	<key>PROJECT_ID</key>
	<string>urbanculture-e3963</string>
	<key>STORAGE_BUCKET</key>
	<string>urbanculture-e3963.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277231424099:ios:135e028c6ac6d449091e56</string>
</dict>
</plist>